
table {
    border-collapse: collapse;
    border: 1px solid black;
  } 
  
  th,td {
    border: 1px solid black;
  }
td img {
    width: 20vh;
}
table.c {
    table-layout: auto;
    width: 100%;  
  }
  .table-btn button{
    margin-left: 1rem;
  }
  