.table-container{
  width: 1400px;
  margin: 3rem auto;
 
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    
  } 
  
  th,td {
    height: 4rem;
    
  align-items: center;
    border-collapse: collapse;
    border: 1px solid black;
  }
td img {
    width: 20vh;
}
table.c {
    table-layout: auto;
    width: 100%;  
  }
  .table-btn button{
    margin-left: 1rem;
  }
  @media screen and (max-width:668px) {

    td img {
      width: 10vh;
  }
  table.c {
    table-layout: auto;
    width: 20%;  
  }
  .table-btn button{
   font-size: 0.6rem;
  }
  th,td {
    height: 1rem;
    font-size: 0.8rem;
  
  }
    
  }