
.Inventory-products-title{
 
    color: rgb(71, 71, 71);
    margin: 3rem 0px;
}
.inventory-products{
   
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    max-width: 1200px;
    margin: 2rem auto;
   justify-content: center;
   
    grid-column-gap: 4rem;
   
}
@media screen and (max-width:668px) {

    .inventory-products{
   
        
        grid-template-columns: repeat( 1 , 1fr);
        max-width: 350px;
        align-items: center;
        
       
         
    }
    .products-title{
       font-size: 1.2rem;
    }


}
