
.product{
  position: relative;
}
.product img{
  border-radius:0.6rem ;
    width: 80%;
   
}
.product-btn {
  position: absolute;
 top: 44%;
 left: 29%;
 


}
.product-btn a{
 color: white;
 text-decoration: none;

}
@media screen and (max-width:668px) {
    .product-btn {
        position: absolute;
       top: 40%;
       left: 20%;
     
       
      
      
      }
}