
.footer-main-container{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
   
  
    
}
.footer-container{
    width: 1500px;
    display: flex;
    justify-content: center;
    gap: 0px 5rem;
    margin-top: 3rem;
   
   
}
.footer-container p{
    line-height: 0.5rem;

}
.footer-container h6{
font-weight: 500;

}
.social-container{
    /* margin-top: 7rem; */
}
.social-container h4{
    font-weight: 500;
}
.social-icons{
    display: flex;
    gap: 0px 1rem;
    font-size: 2.5rem;
}
.footer{
    padding: 0.8rem 0px ;
    background-color: lightgray;
}
@media screen and (max-width:668px) {
    .footer-main-container{
       margin-bottom: 0;
       
      
        
    }
    .footer-container{
        /* margin: 0;
       flex-direction: column;
      align-items: center;
      gap: 2rem 0px; */
      display: none;
       
    }
    .social-container{
        margin: 1.2rem auto;
    }
    .social-container h4{
        font-size: 1rem;
    }
    .social-container button{
       font-size: 0.7rem;
    }
    .social-container input{
       font-size: 0.8rem;
    }
    small{
        font-size: 0.7rem;
    }
    .social-icons{
        font-size: 1.7rem;
    }

    
}