.product-detail-container{
    width: 600px;
    margin: 4rem auto;
    color: rgb(71, 71, 71);
    position: relative;
}
.product-detail img{
    width: 80%;
    border-radius: 0.6rem;
}
.product-detail-title p{
    margin-bottom: 4px;
    width: 500px;
    font-weight: 500;
    text-align: justify;
}
.product-detail-title h6{
    margin-bottom: 4px;
}
.product-details-btn input{
    margin-left: 5px;
    margin-top: 5px;
}
.order-btn {
  position: absolute;
  left: 52%;
   
}
@media screen and (max-width:668px) {

    .product-detail img{
        width: 50%;
        
    }
    .product-detail-container{
        width: 340px;
        margin-left: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
    .product-detail-title p{
        font-size: 0.8rem;
        width: 270px;
        
    }
    .product-detail-title h6{
        font-size: 0.8rem;
    }
    
    .product-details-btn button{
        margin-top: 12px;
        font-size: 0.7rem ;
        
    }
    .product-detail h4{
       font-size: 1.2rem;
    }
}